@using Microsoft.AspNetCore.Identity
@using QLKHO.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    AppUser user = await UserManager.GetUserAsync(User);
    if(user != null)
    {
        <h1 class="display-4 text-center">Xin Chào @user.FullName !</h1>
    }
}